name: Deploy to Cloudflare Workers
on:
  pull_request:
    branches:
      - develop
      - master
    types: [closed]

jobs:
  deploy:
    name: Deploy Workers
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.10.0
      - name: Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.0
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
      - name: Install dependencies
        run: bun install --frozen-lockfile --ignore-scripts
      - name: Build Workers
        run: bun run build
        env:
          CLOUDFLARE_ENV: ${{ github.event.pull_request.base.ref == 'master' && 'prod' || 'dev' }}
      - name: Deploy Workers
        run: bun run deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ENV: ${{ github.event.pull_request.base.ref == 'master' && 'prod' || 'dev' }}
          NODE_ENV: production
